/* -----Resets------ */
html {
    box-sizing: border-box;
    font-size: 100%;
}

/* resets */
ul,
ol,
ul {
    list-style: none;
    padding: 0;
}

/* make sure body have all viewport's height */
body {
    min-height: 100vh;
}

/* resets */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class]{
    margin: 0;
}

/* remove decoration in a tags */
a {
    outline: none;
    text-decoration: none;
}

/* for easier use of media elements */
img {
    display: block;
    max-width: 100%;
}

/* inherit all the font */
input,
button,
textarea {
    border: none;
    font: inherit;
    outline: none;
}

button {
    color: inherit;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    main {
        min-height: 100vh;
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(0, 100%, 74%);
    }

    .text {
        width: 80%;
        text-align: center;
        color: white;
    }

    .free-trial-button {
        width: 80%;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1em;
        border-radius: 5px;
        text-align: center;
        color: white;
        background-color: hsl(248, 32%, 49%);
        box-shadow: 0 7px rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }

    .my-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-div {
        width: 80%;
        background-color: white;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        box-shadow: 0 7px rgba(0, 0, 0, 0.2);
    }

    .registration-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em;
    }

    label {
        width: 100%;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        margin: 0.5em 0em;
        padding: 0.5em;
        border: 0.5px solid grey;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
    }

    .claim-trial-button {
        background-color: hsl(154, 59%, 51%);
        border-radius: 5px;
        padding: 1em 0.5em;
        margin-bottom: 0.5em;
        color: white;
        width: 88%;
        text-align: center;
        font-size: 12px;
        box-shadow: 0 2px rgba(56, 204, 140, 0.2);
    }

    .disclaimer {
        margin-bottom: 0.5em;
        font-size: 10px;
        text-align: center;
        color: hsl(246, 25%, 77%);
    }

    .terms {
        color: hsl(0, 100%, 74%);
    }

    footer {
        display: none;
    }
    
}

@media screen and (min-width: 490px) and (max-width: 1600px) {
    
    main {
        min-height: 100vh;
        font-family: Poppins;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url(images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(0, 100%, 74%);
    }

    .text {
        width: 50vw;
        color: white;
        text-align: left;
    }

    .text > * {
        margin-left: 10rem;
    }

    .text > h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .my-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    .form-div {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0 7px rgba(0, 0, 0, 0.2);
        width: 75%;
    }

    .registration-form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 90%;
        margin-bottom: 0.5em;
    }

    label {
        margin: 0.5em;
        width: 100%;
    }

    input {
        border: 0.5px solid grey;
        border-radius: 5px;
        width: 100%;
        padding: 0.5em;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    /*.icon {
        background: url(images/icon-error.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 95% ;
        border: 1px solid red;
    }*/

    .free-trial-button {
        width: auto;
        background-color: hsl(248, 32%, 49%);
        text-align: center;
        width: 75%;
        border-radius: 5px;
        padding: 0.5em;
        color: white;
        box-shadow: 0 5px rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }

    .claim-trial-button {
        background-color: hsl(154, 59%, 51%);
        width: 90%;
        border-radius: 5px;
        padding: 0.5em;
        text-align: center;
        color: white;
        margin-bottom: 1em;
    }

    .disclaimer {
        font-size: 12px;
        color: hsl(246, 25%, 77%);
        width: 90%;
        text-align: center;
        margin-bottom: 2em;
    }

    .terms {
        color: hsl(0, 100%, 74%);
    }

    footer {
        display: none;
    }
}

